#body {
    background-color: aquamarine;
}

#navigationBar {
    background-color: #008080;
    height: 60px;
}

#rankArea {
    background: #fffacd;
    width: 100px;
    height: 30px;
    margin: 15px 10px 15px 0px;
    float: right;
}

#rankText {
    text-align: center;
}

#scoreArea {
    background: #fffacd;
    width: 100px;
    height: 30px;
    margin: 15px 10px 15px 0px;
    float: right;
}

#scoreText {
    text-align: center;
}

#backButton {
    background-color: #ffffff;
    width: 45px;
    height: 35px;
    margin: 15px 0px 15px 10px;
}

#retryButton {
    background-color: #ffffff;
    width: 47px;
    height: 35px;
    margin: 15px 0px 15px 5px;
}


@media screen and (max-width: 480px) {
    #question {
        font-size: 13px;
    }
}
#button {
    margin-top: 20px;
}
@media screen and (max-width: 480px) {
    #button {
        margin-top: 40px;
        text-align: left;
    }
}
