.titleBody {
    background-color: aquamarine;
}

#titleText {
    margin-top: 100px;  
    font-size: 100px;
    text-align: center;
}

.buttonsBlock {
    margin-top: 50px;
    text-align: center;
}

#startButton {
    width: 200px;
    height: 50px;
    font-size: 30px;
}

#optionButton {
    width: 200px;
    height: 50px;
    font-size: 30px;
}

